<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NFL Leaderboard</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>NFL Leaderboard</h1>

    <table border="1" style="width:300px">
      <% @leaderboard.each do |team| %>
        <th>team</th><th>wins</th><th>losses</th>
        <tr><td><%= team[0] %></td>
            <td><%= team[1] %></td>
            <td><%= team[2] %></td></tr>
      <% end %>
    </table>
  </body>
</html>
