<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NFL Leaderboard</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>NFL Leaderboard</h1>

    <table border="1" style="width:300px">
      <th>Team Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team[:name] %></td>
          <td><%= team[:wins] %></td>
          <td><%= team[:losses] %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
